<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Devis</h1>
                <h3>n° 1646</h3>
            </div>
            <div class="col-5" style="margin-top: -1%">
                <img  class="rounded mx-auto d-block" style="width: 250px" src="https://i.ibb.co/vLPzwWy/kisspng-business-logo-canada-computer-programming-informat-web-solutions-5b27dd527561c1-634386141529.png" alt="...">
            </div>
        </div>
        <div class="row text-center" style="margin-top: 0%">
          <div class="col-5 offset-1">
            <div class="card text-dark bg-light">
                <div class="card-body">
                  <h5 class="card-title">Entreprise</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Ref-Web</h6>
                  <p class="card-text">Adresse : </p>
                  <p class="card-text">Tel : </p>
                  <p class="card-text">Email :</p>
                </div>
              </div>
          </div>
          <div class="col-5">
            <div class="card text-dark bg-light">
                <div class="card-body">
                  <h5 class="card-title">Client</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Nom client</h6>
                  <p class="card-text">Adresse : </p>
                  <p class="card-text">Tel : </p>
                  <p class="card-text">Email :</p>
                </div>
              </div>
          </div>
        </div>

        <div class="row"  style="margin-top: 5%">
            <table class="table table-light table-striped">
                <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Temps en heure</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Faire un carousel en js</th>
                    <td>2</td>
                    <td>16</td>
                    <td>32</td>
                </tr>
                <tr>
                    <th scope="row">Faire des cards en js</th>
                    <td>2</td>
                    <td>16</td>
                    <td>32</td>
                </tr>
                <tr>
                    <th scope="row">Faire une nav-bar responsive mobile en js</th>
                    <td>4</td>
                    <td>16</td>
                    <td>64</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total HT</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total TVA</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total TTC</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="row text-center" style="margin-top: 5%">
        <div class="col-5 offset-6">
          <div class="card text-dark bg-light">
              <div class="card-body">
                <h5 class="card-title">Signature du client</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nom client</h6>
                <p class="card-text text-left">Signature :</p>
                <p class="card-text text-left">Date :</p>
              </div>
            </div>
        </div>
      </div>
</body>
</html>